extends layout

block content
  h1= "Songs list"

  each val, index in songs
    img(src='/images/iconmonstr-video-5-icon-24.png')
    p #{val.songname}
    p #{val.filesize}
    p #{val.album.albumname}
  
  audio(src='/player', preload='auto', class="aplayer")