doctype html
html
  head
    title= "Asite Sound Cloud"
    link( rel = 'stylesheet', href = '/stylesheets/style.css' )
    script( src = "/javascripts/lib/audiojs/audio.min.js" )
    script( src = "/javascripts/main.js" )
  body
    block content